<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>E-Commerce Website</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    {% block head_content %}

    {% endblock %}
</head>

<body>

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="/static/images/shopping-cart.png" alt="shopping cart logo" width="50px">
                </div>
                <nav>
                    <ul>
                        <form action="/search/" method="post" class="searchbar__form">
                            <input type="text" placeholder="Search products" class="searchbar" name="searchbar">
                        </form>
                        {% for category, values in categories.items() %}
                        {% set catlen1 = namespace(value=values|length) %}
                        {% if catlen1.value!=0 %}
                        <li>
                            <div class="{{ category }}" onclick="showhide('category-{{ category }}')">{{ category }}
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li><a href="/products">Products</a></li>
                        <li><a href="/home">Home</a></li>
                </nav>
            </div>
            {% for category, values in categories.items() %}
            {% set catlen2 = namespace(value=values|length) %}
            {% if catlen2.value!=0 %}
            <div class="category-{{ category }}" id="category-{{ category }}" style="display: none;">
                <h1 class="category-title" id="category-title">Category - {{ category }}</h1>
                {% set lvl2_length = values|length %}
                {% set rem = lvl2_length%4 %}
                {% set counter = namespace(value=0) %}
                {% set prod_per_col = lvl2_length//4 %}
                {% if rem!=0 %}
                {% set prod_per_col = prod_per_col+1 %}
                {% endif %}
                <div class="category-lvl2-container">
                    {% for cnt in range(4) %}
                    <div class="category-lvl2">
                        {% for inner_counter in range(0, prod_per_col) %}
                        <a href="/category/{{ category }}/{{ values[counter.value] }}" class="category-lvl2-value">{{
                            values[counter.value] }}</a>
                        {% set counter.value = counter.value+1 %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% block class_header_content %}
            {% endblock %}
        </div>
    </div>
    {% block main_content %}
    {% endblock %}
    <script>
        function showhide(id) {
            var element = document.getElementById(id);
            element.style.display = (element.style.display == 'block') ? 'none' : 'block';
        }
    </script>

</body>

</html>