{% extends "base.html" %}

{% block head_content %}
    <style>
        .product__desc__container {
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            height: 400px;
            display: flex;
            background-color: #fff;
        }

        .product__image {
            display: block;
            margin: 50px;
            height: 300px;
            width: 300px;
            border: 1px solid black;
        }

        .product__details {
            display: inline-block;
            flex-direction: row;
            height: 300px;
            margin-top: 50px;
            width: 60%;
        }

        .product__name {
            margin-left: 50px;
            margin-top: 30px;
            vertical-align: center;
        }

        .product__price, 
        .product__description {
            flex-direction: column;
            margin-left: 50px;
            vertical-align: center;
        }
    </style>
{% endblock %}

{% block main_content %}
    <div class="product__desc__container">
        <div class="product__image_container">
            <img src="{{ product_url }}" class="product__image" />
        </div>
        <div class="product__details">
            <h1 class="product__name">Name: {{ product_name }}</h1>
            <p class="product__description"> <b>Description:</b> {{ product_description }}</p>
            <h2 class="product__price">Price: {{ product_price }}</h2>
        </div>
    </div>
{% endblock %}