{% extends "base.html" %}

{% block head_content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<style>
    .product__grid {
        width: 90%;
        display: grid;
        margin: 0 auto;
        gap: 1px;
        grid-template-columns: repeat(3, 1fr);
    }

    .product__link {
        text-decoration: none;
        color: black;
        padding: 10px;
    }

    .product {
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
        transition: transform 0.25s;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .product:hover {
        transform: translateY(-5px);
    }

    .product img {
        width: 100%;
        height: 350px;
    }

    .product h4,
    .product p {
        text-align: center;
    }

    .product_grid>.product {
        padding: 20px;
        justify-content: space-between;
    }

    .no__products__container {
        display: flex
    }

    .no__products__message {
        display: inline;
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;
    }
</style>
{% endblock %}

{% block main_content %}

{% if products %}

<div class="small-container">
    <h2 class="title">{{ catlevel1 }} - {{ catlevel2 }} Products</h2>
    <div class="product__grid">
        {% for product in products %}
        <a href="/products/{{ product[0] }}" class="product__link">
            <div class="product">
                <img src="{{ product[4] }}" alt="">
                <h4 class="product-title">{{ product[1] }}</h4>
                <p>${{ product[2] }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<div class="pagination">
    <!-- Pagination Links-->
    <div class="text-right">
        {% if page!=1 %}
        <a href="{{ url_for('render_catlvl2', page=page-1, catlvl1=catlevel1, catlvl2=catlevel2) }}" class="btn-not-active btn-outline-dark">
            <b>&laquo;</b>
        </a>
        {% endif %}
        {% if page-1!=0 %}
        <a href="{{ url_for('render_catlvl2', page=page-1, catlvl1=catlevel1, catlvl2=catlevel2) }}" class="btn-not-active btn-outline-dark">
            <b>{{ page-1 }}</b>
        </a>
        {% endif %}
        <a href="{{ url_for('render_catlvl2', page=page, catlvl1=catlevel1, catlvl2=catlevel2) }}" class="btn btn-outline-dark">
            <b>{{ page }}</b>
        </a>
        {% if page+1 <= pages %}
        <a href="{{ url_for('render_catlvl2', page=page+1, catlvl1=catlevel1, catlvl2=catlevel2) }}" class="btn-not-active btn-outline-dark">
            <b>{{ page+1 }}</b>
        </a>
        {% endif %}
        {% if page!=pages %}
        <a href="{{ url_for('render_catlvl2', page=page+1, catlvl1=catlevel1, catlvl2=catlevel2) }}" class="btn-not-active btn-outline-dark">
            <b>&raquo;</b>
        </a>
        {% endif %}
    </div>
    <p class="text-right mt-3">
        Showing page {{ page }} of {{ pages }}
    </p>
</div>
{% endif %}
{% endblock %}